@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap");

html {
  box-sizing: border-box;
  cursor: url("cursors/pixel_wand.cur"), auto;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: larger;
  background-color: #ccc;
}

.profile-picture {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
}

.profile {
  display: inline-block;
  width: 100px;
  border: 3px dashed #bbb;
  border-radius: 3px;
  margin-right: 1rem;
  grid-row: 1/2;
  grid-column: 1/2;
  margin-bottom: 0;
}

.mariam-profile ul {
  list-style: none;
}

.websites {
  margin: 0;
  display: flex;
  gap: 1rem;
  padding: 0;
}

.websites li {
  padding: 0;
  margin: 0;
  height: 1.5rem;
}

.profile-picture span {
  width: 100px;
  max-height: max-content;
  color: white;
  text-align: center;
  border-radius: 0px 0px 114px 17px / 0px 0px 75px 0px;
  grid-column: 1/2;
  font-size: small;
  margin-top: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(156, 242, 149, 1) 0%,
    rgba(9, 121, 56, 1) 50%
  );
  margin-top: -3px;
}

.name-websites {
  display: flex;
  flex-direction: column;
}

.mariam-profile {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.name-websites .icon {
  width: 1.5rem;
  margin-bottom: 0;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  list-style: none;
}

a:hover,
a:focus {
  cursor: url("cursors/angel_pointer.cur"), auto;
}

h1 {
  display: inline-block;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

li::selection {
  background-color: pink;
}

li {
  width: fit-content;
}

li a::hover {
  cursor: url("cursors/text_select.cur"), auto;
}

html > * ::selection {
  background-color: pink;
}

body {
  max-width: 50vw;
  padding: 2rem;
  margin: 0 auto;
  font-size: large;
  border-right: 3px dashed #000;
  border-left: 3px dashed #000;
  border-top: 3px dashed #000;
  background-color: aliceblue;
}

.logo {
  width: 7rem;
}

.skills ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
}
