@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Pixelify+Sans:wght@400..700&display=swap");

html {
  box-sizing: border-box;
  cursor: url("cursors/pixel_wand.cur"), auto;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: larger;
  background-color: #ccc;
}

nav ul img {
  width: 1.5rem;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  list-style: none;
}

a:hover,
a:focus {
  cursor: url("cursors/angel_pointer.cur"), auto;
}

.profile {
  display: inline-block;
  width: 100px;
  border: 3px dashed #bbb;
  border-radius: 3px;
  margin-right: 1rem;
}
h1 {
  display: inline-block;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

li::selection {
  background-color: pink;
}

li {
  width: fit-content;
}

li:hover {
  cursor: url("cursors/text_select.cur"), auto;
}

html > * ::selection {
  background-color: pink;
}

body {
  max-width: 700px;
  padding: 2rem;
  margin: 0 auto;
}

.logo {
  width: 7rem;
}

.skills ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
}
